html,body {
    margin: 0;
    padding: 0;
}
button {
    margin: 0;
    padding: 0;
    border: 0;
    background: none;
    font-size: 100%;
    vertical-align: baseline;
    font-family: inherit;
    color: inherit;
    -webkit-appearance: none; // removes default styling
    -ms-appearance: none; // removes default styling
    -o-appearance: none; // removes default styling
    appearance: none; // removes default styling
}

#packingapp .content .login button {
    -webkit-border-radius: 5;
    -moz-border-radius: 5;
    border-radius: 5px;
    color: #ffffff;
    font-size: 14px;
    background: #3BBD8D;
    padding: 5px 40px;
    text-decoration: none;
    border: 0;
}

body {
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    line-height: 1.4em;
    background: #00A1CB; 
    color: #4d4d4d;
    margin: 0 auto;
    padding: 40px 0 0;
}

#packingapp {
    background: #fff;
    text-align: center;
    margin: 40px auto;
    width: 800px;
}

#packingapp input::-webkit-input-placeholder {
    font-style: italic;
}

#packingapp input:-moz-placeholder {
    font-style: italic;
    color: #a9a9a9;
}



h1 {
    position: absolute;
    top: -120px;
    width: 100%;
    font-size: 20px;
    font-weight: normal;
    text-align: center;
    color: #888;
    -webkit-text-rendering: optimizeLegibility;
    -moz-text-rendering: optimizeLegibility;
    -ms-text-rendering: optimizeLegibility;
    -o-text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}
.title {
    margin: 20px auto;
    line-height:1em;
    text-align:center;
    color:#FFF;
    font-size: 20px;
    font-weight: normal;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}
.title i{
    display: block;
    font-size: 100px;
    padding: 0 0 5px;
    color:#FFF;
}
h2{
    padding: 16px;
    font-size: 20px;
    font-weight: normal;
    text-transform: uppercase;
}
.section {
    position: relative;
}
.breadcrumb{
    text-align: left;
    padding: 0 0 0 15px;
}
.breadcrumb a{
    color: #113F8C;
    font-weight: 600;
    text-decoration: none;
}
#new-trip, #new-list-item,
.edit {
    margin: 0;
    width: 100%;
    font-size: 20px;
    line-height: 1.4em;
    border: 0;
    outline: none;
    padding: 6px;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
    font-style: italic;
}

#new-trip, #new-list-item {
    padding: 16px 16px 16px 20px;
    border: none;
    background: rgba(0, 0, 0, 0.02);
    z-index: 2;
    box-shadow: none;
}

#main {
    position: relative;
    z-index: 2;
}

label[for='toggle-all'], label[for='toggle-list-all']  {
    display: none;
}
/**

#toggle-all, #toggle-list-all {
    position: absolute;
    top: -56px;
    left: -15px;
    width: 65px;
    height: 41px;
    text-align: center;
    border: none; 
    -webkit-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

#toggle-all:before, #toggle-list-all:before {
    content: '»';
    font-size: 28px;
    color: #d9d9d9;
    padding: 0 25px 7px;
}

#toggle-all:checked:before, #toggle-list-all:checked:before {
    color: #737373;
}
**/
#trip-list, #packing-list {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}

#trip-list .spinner, #packing-list .spinner {
    margin: 15px auto;
}

#trip-list li, #packing-list li {
    text-align: left;
    position: relative;
    font-size: 20px;
    border-bottom: 1px solid #ccc;
    padding: 0 0 10px;
}

#trip-list li:last-child, #packing-list li:last-child {
    border-bottom: none;
}

#trip-list li.editing, #packing-list li.editing {
    border-bottom: none;
    padding: 0;
}

#trip-list li.editing .edit, #packing-list li.editing .edit {
    display: block;
    width: 506px;
    padding: 13px 17px 12px 17px;
    margin: 0 0 0 43px;
}

#trip-list li.editing .view, #packing-list li.editing .view {
    display: none;
}

#trip-list li .toggle, #packing-list li .toggle {
    text-align: center;
    width: 30px;
    height: 30px; 
    margin: 20px 10px 0 15px;
    vertical-align: middle;
}


#trip-list li label, #packing-list li label {
    display: inline-block;
    line-height: 1.2;
    margin: 18px 0 0;
    vertical-align: middle;
}

#trip-list li.completed label, #packing-list li.completed label {
    color: #a9a9a9;
    text-decoration: line-through;
}

#trip-list li .trip-destroy, #packing-list li .packing-list-destroy {
    display: none;
    position: absolute;
    top: 0;
    right: 10px;
    bottom: 0;
    width: 40px;
    height: 40px;
    margin: auto 0;
    font-size: 22px;
    color: #a88a8a;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

#trip-list li .trip-destroy:hover, #packing-list li .packing-list-destroy:hover {
    color: #E54028;
}

#trip-list li .trip-destroy:after, #packing-list  li .packing-list-destroy:after{
    content: 'X';
}

#trip-list li:hover .trip-destroy, #packing-list li:hover .packing-list-destroy {
    display: block;
}

#trip-list li .edit, #packing-list li .edit {
    display: none;
}

#trip-list li.editing:last-child, #packing-list li.editing:last-child {
    margin-bottom: -1px;
}
#trip-list .trip-content a{
    color: #113F8C;
    text-decoration: none;
}






#trip-stats, #packing-list-stats{
    border-top: 1px solid #ccc;   
    padding: 20px;
}
#footer {
    color: #777;
    text-align: center;
}

#trip-count, #packing-list-count {
    float: left;
    text-align: left;
}

#filters {
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    right: 0;
    left: 0;
}

#filters li {
    display: inline;
}
#filters li a {
    color: #83756f;
    margin: 2px 5px;
    text-decoration: none;
}

#filters li a.selected {
    font-weight: bold;
    color: #113F8C;
}

#clear-completed, #clear-packed {
    float: right;
    line-height: 20px;
    text-decoration: none;
    background: rgba(0, 0, 0, 0.1);
    font-size: 11px;
    padding: 0 10px;
    position: relative;
    border-radius: 3px;
    box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.2);
}

#clear-completed:hover, #clear-packed:hover {
    background: rgba(0, 0, 0, 0.15);
    box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.3);
}




#packingapp .content .login{
    padding: 0 20px;   
}
#packingapp .content .login-form{
    float: left; 
    border-right: 1px solid #ccc;
    padding: 0 40px 20px 20px;
}
#packingapp .content .signup-form{
    float: left;  
    padding: 0 20px 0 40px;
}

#packingapp .content .login h2 {
    font-weight: normal;
    margin-bottom: 10px;
}

#packingapp .content .login input {
    display: block;
    margin-bottom: 10px;
    font-size: 14px;
    padding: 5px;
    width: 300px;;
    font-style: italic;
}

#packingapp .content .login .error {
    border: 1px solid red;
    background: #FDEFF0;
    padding: 5px 15px;
    margin-bottom: 15px;
}




#packingapp .content #user-info {
    padding: 10px;
    margin-bottom: 0px;
    text-align: right;
    background-color: #F18D05;
    color: #fff;
}
#packingapp .content #user-info a{
    color: #fff;   
}

#packingapp .content .mark-all-done {
    margin-left: 8px;
}


.clearfix:after {
  display: block;
  clear: both;
  content: "";
}