<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>My Packing Lists</title>
    <link href="css/packing.css" media="all" rel="stylesheet" type="text/css"/>
    <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
    <script src="js/underscore.js"></script>
    <script src="http://www.parsecdn.com/js/parse-1.2.13.min.js"></script>
    <script src="js/packinglist.js"></script>
  </head>

  <body>

    <!-- Todo App Interface -->

    <div id="packingapp">
      <div class="title">
        <h1>My Packing Lists</h1>
      </div>
 
      <div class="content">
      </div>
    </div>
    <!-- Templates -->

    <script type="text/template" id="login-template">
      <header id="header"></header>
      <div class="login">
        <form class="login-form">
          <h2>Log In</h2>
          <div class="error" style="display:none"></div>
          <input type="text" id="login-username" placeholder="Username" />
          <input type="password" id="login-password" placeholder="Password" />
          <button>Log In</button>
        </form>

        <form class="signup-form">
          <h2>Sign Up</h2>
          <div class="error" style="display:none"></div>
          <input type="text" id="signup-username" placeholder="Username" />
          <input type="password" id="signup-password" placeholder="Create a Password" />
          <button>Sign Up</button>
        </form>
      </div>
    </script>

    <script type="text/template" id="manage-trips-template">
      <div id="user-info">
        Signed in as <%= Parse.User.current().escape("username") %> (<a href="#" class="log-out">Log out</a>)
      </div>

<h2>My Trips</h2>
      <div class="section">
        <header id="header">
          <input id="new-trip" placeholder="Add a Trip" type="text" />
        </header>
<div id="main">
          <input id="toggle-all" type="checkbox">
          <label for="toggle-all">Mark all as complete</label>
          
          <ul id="trip-list">
            <img src='images/spinner.gif' class='spinner' />
          </ul>
        </div>


        <div id="trip-stats"></div>
      </div>
    </script>

    <script type="text/template" id="trip-template">
      <li class="<%= done ? 'completed' : '' %>">
	<div class="view">
	  <input class="toggle" type="checkbox" <%= done ? 'checked="checked"' : '' %>>
	  <label class="trip-content"><a href="#lists"><%= _.escape(tripName) %></a></label>
	  <button class="trip-destroy"></button>
	</div>
	<input class="edit" value="<%= _.escape(tripName) %>">
      </li>
    </script>
    <script type="text/template" id="stats-template">
      <footer id="footer">
	<span id="trip-count"><strong><%= remaining %></strong> active <%= remaining == 1 ? 'trip' : 'trips' %></span>
	<ul id="filters">
	  <li>
	    <a href="javascript:void(0)" id="all" class="selected">All</a>
	  </li>
	  <li>
	    <a href="javascript:void(0)" id="active">Active</a>
	  </li>
	  <li>
	    <a href="javascript:void(0)" id="completed">Completed</a>
	  </li>
	</ul>
	<button id="clear-completed">Clear completed (<%= done %>)</button>
      </footer>
    </script>
<script type="text/template" id="packing-template">
      <div id="user-info">
        Signed in as <%= Parse.User.current().escape("username") %> (<a href="#" class="log-out">Log out</a>)
      </div>
<a href="index.html">Back to My Trips</a>
<h2>My Packing List</h2>

      <div class="section">

        <header id="header">
          <input id="new-list-item" placeholder="What needs to be packed?" type="text" />
        </header>

        <div id="main">
          <input id="toggle-list-all" type="checkbox">
          <label for="toggle-list-all">Mark all as complete</label>
          
          <ul id="packing-list">
            <img src='images/spinner.gif' class='spinner' />
          </ul>
        </div>

        <div id="packing-list-stats"></div>
      </div>
    </script>

    <script type="text/template" id="packing-item-template">
      <li class="<%= done ? 'completed' : '' %>">
	<div class="view">
	  <input class="toggle" type="checkbox" <%= done ? 'checked="checked"' : '' %>>
	  <label class="packing-list-content"><%= _.escape(content) %></label>
	  <button class="packing-list-destroy"></button>
	</div>
	<input class="edit" value="<%= _.escape(content) %>">
      </li>
    </script>

    <script type="text/template" id="packing-stats-template">
      <footer id="footer">
	<span id="packing-list-count"><strong><%= remaining %></strong> <%= remaining == 1 ? 'item' : 'items' %> left</span>
	<ul id="filters">
	  <li>
	    <a href="javascript:void(0)" id="pack-all" class="selected">All</a>
	  </li>
	  <li>
	    <a href="javascript:void(0)" id="not-packed">Not Packed</a>
	  </li>
	  <li>
	    <a href="javascript:void(0)" id="packed">Packed</a>
	  </li>
	</ul>
	<button id="clear-packed">Clear packed (<%= done %>)</button>
      </footer>
    </script>
  </body>

</html>
 